<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <application
        android:name="com.vehicle.information.trending.rtoexam.rto.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RTOVehicleInformation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SplashScreenActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.DLActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.DLErrorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.DLDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.SearchVehicleActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.InsuranceDetailsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.VehicleDetailsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.FinanceDetailsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.SearchVehicleDetailsLoaderActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.SearchResultLoaderActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.ChallanDetailsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_StartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_LoanEmiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_MileageCalculatorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ResaleEstimatorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_FormsHubActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExpiryReminderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ChallanSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_QuizActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_TrendPersonVehiclesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ResultCardsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ResultActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SelectExamsPrepareActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_EnterInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_LanguageSelectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExamsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_CityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_OficeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_OfficeDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SymbolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SymbolDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SearchVehicleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_VehiclesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_RulesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_FuelCityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
                <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vehicle.information.trending.rtoexam.rto.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_share_filepaths" />
        </provider>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.vehicle.information.trending.rtoexam.rto.com.squareup.picasso"
            android:exported="false" />
    </application>

</manifest>