<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vehicle.information.trending.rtoexam.rto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="com.vehicle.information.trending.rtoexam.rto.MyApplication"
        android:allowBackup="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_LanguageSelectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_PrivacyPolicyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_PrepareQuestionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExamRulesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExamScoreActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExamQuestionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ExamsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_OficeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_OfficeDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SymbolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SymbolDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_SearchVehicleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_VehiclesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_RulesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_FuelCityActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_CelebrityListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_TrendPersonVehiclesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_LoanEmiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_MileageCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_ResaleEstimatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_FormsHubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vehicle.information.trending.rtoexam.rto.Task_Activity.Task_DocumentVaultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vehicle.information.trending.rtoexam.rto.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_share_filepaths" />
        </provider>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.vehicle.information.trending.rtoexam.rto.com.squareup.picasso"
            android:exported="false" />
    </application>

</manifest>